#img-card {
  width: 310px;
  height: 300px;
  border-radius: 20px;
  padding: 15px;
  filter: blur(0.5px);
  transition: all 0.2s ease-in-out;
}
#img-card:hover {
  transform: scale(1.1);
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.img-container {
  text-align: center;
}
h1 {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-size: 26px;
}
.dropdown-container {
  padding-top: 5px;
}
