.wrapper {
  max-width: 720px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
#img-photo {
  width: 400px;
  height: 400px;
}
.one {
  grid-column: 1 / 3;
}

.info {
  grid-column: 3 / 4;
  width: 320px;
  height: 400px;
  background: #dddddd;
  left: 420px;
}
