@media screen and (min-width: 900px) {
  #workout-table {
    top: 65px;
    left: 68%;
  }
}
@media screen and (max-width: 768px) {
  #workout-table {
    display: flex;
    justify-content: flex-end;
  }
}
.main-container {
  background-color: #32312d;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#main-content {
  position: relative;
  left: 40vw;
  /* 30 */
}
