.profile {
  height: 93.8vh;
  background-color: #F5FBFF;
  color: #011523;
  display: flex;
  flex-direction: column;
}

#username {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  font-weight: bold;
}

.friends {
  display: inline;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.view-friends {
  text-decoration: none;
  color: #011523;
}

.view-friends:hover {
  font-size: 105%;
  transition: 0.3s;
}

.workouts {
}

.workout-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
