@media (min-width: 997px) {
  .side-menu-container {
    position: absolute;
    width: 300px;
    height: 93.2%;
    background-color: #F5FBFF;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

#title-side {
  font-size: 28px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: #011523
}
#sub-title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: #011523
}
.workout-type {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
#api-btn {
  margin-bottom: 30px;
  padding-top: 50px;
  color: #121215
}

.workout {
 
}